<div>Todo listo para websockets</div>
<h1>Este es el chat de todos</h1>
<div>
   <i id="username"></i> <input type="text" id="chatbox">
</div>
<div id="messageLogs">

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
